body{
    background-image: url("casino2.jpg");
    text-align: center;
    color: white;
    font-weight: bold;
    background-size: cover;
    width: 100%;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color: goldenrod;
}
h3{
    font-style: italic;
}
button{
    border: none;
    background: goldenrod;
    color: #016f32;
    width: 200px;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 2px;
}
#name-el{
    padding: 12px;
    border: none;
    border-radius: 2px;
    width: 170px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: bold;
    background: white;
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 18px;
    color: #016f32;
   
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url("casino2.jpg");
        background-size: cover;
    }
  }